@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




* {
    font-family: "Montserrat", sans-serif;

}

.todo {
    background-color: white;
    border-radius: 4px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    padding: 15px;
    position: relative;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15vw;
}

p {
    margin: 0;
    color: gray;
}

.lists {
    display: flex;
    gap: 2px;
    width: 300px;
    flex-direction: column;
    padding: 2px;
    width: 87%;
    background-color: white;
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 10px;

}

input {
    border-style: none;
    outline: none;
    font-weight: bold;
}

.lists {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 70px;
    color: black;
}

.add-task-btn {
    margin-top: 10px;
    padding: 2px;
    border: none;
    border-radius: 35px;
    height: 35px;
    background-color: purple;
    color: white;
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
    /* position: relative; */
    width: 50%;
    /* justify-content: space-between; */
}

.x {
    background-color: rgb(148, 1, 148);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
    /* position: absolute; */
    left: 0px;
}

.x p {
    color: white;
    font-size: 25px;
    /* font-weight: 500; */




}

.add-task-btn p {
    margin: 0;
    /* font-size: 14px; */
    color: white;
    /* margin-left: 18px; */

}

.at p {
    margin: 0;
    font-size: 14px;
    color: white;
    margin-left: 18px;


}

.list p {
    margin-left: 7px;
}

.task-input {
    position: absolute;
    left: 34px;
}

.sort {
    position: absolute;
    top: 90px;
    right: 40px;
    padding: 2.5px 5px;
    border: none;
    border-radius: 4px;
    background-color: teal;
    color: white;
    cursor: pointer;
}

.add-task-btn:hover {
    background-color: rgb(187, 2, 187);
}

.add-task-btn:active {
    transform: scale(0.95);
    opacity: 0.8;
}

.sil {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    color: gray;
    cursor: pointer;
    position: absolute;
    right: 5px;
    align-items: center;
    padding: 2px;
    justify-content: center;
    display: flex;
    background-color: white;

}

.sil:hover {
    background-color: gray;
    color: white;
    border: none;
}

.list {
    display: flex;
    /* gap: 50px; */
    border-radius: 5px;
    /* margin-bottom: 5px; */

    background-color: white;
    /* padding-left: 5px;
    padding-right: 05px; */
    width: 100%;
    position: relative;
    height: 25px;
    align-items: center;

    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); */

}


.bar {
    width: 328.22px;
    height: 22px;
    background-color: orange;
    border-top-right-radius: 3.4px;
    border-top-left-radius: 3.4px;
    position: absolute;
    top: 0px;
    border: 1px solid orange;
}